<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>VISIONARY CROFTING APPLICATION | CART</title>
    </head>

    <body>

    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    </div>

                    <div class="cart-element">

                    </div>

                    <div class="card">
                        <div class="card-body">
                            <button id="place-order-button" type="button" class="btn btn-warning btn-block btn-lg">Place Your Order</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

       <script>

           const cart = JSON.parse(localStorage.getItem("cart"));

           const cartElement = document.querySelector(".cart-element");

           let cartUI = "";

           cart.forEach((product) => {

               cartUI +=
                   `
                   <div class="card rounded-3 mb-4">
                       <div class="card-body p-4">
                           <div class="row d-flex justify-content-between align-items-center">
                               <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp" class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                               <div class="col-md-3 col-lg-3 col-xl-3">
                                     <p class="lead fw-normal mb-2">${product.name}</p>
                                     <p>${product.description}</p>
                                </div>
                               <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                   <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                       <i class="fas fa-minus"></i>
                                   </button>
                                   <input id="form1" min="0" name="quantity" value="2" type="number" class="form-control form-control-sm" />
                                   <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                       <i class="fas fa-plus"></i>
                                   </button>
                               </div>
                               <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                   <h5 class="mb-0">${product.price}</h5>
                               </div>
                               <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                   <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
                    `
           })

           cartElement.innerHTML = cartUI;

           const placeOrderButton = document.querySelector("#place-order-button");

           const order = {

               reference : "33534",
               date : new Date(),
               totalPrice: 444.00,
               orderStatus: "PENDING",
               customer: "customer7",
               orderItems:[]

           }

           placeOrderButton.addEventListener("click", function(){

               fetch('http://localhost:8080/api/products/', {

                   method: 'POST',
                   headers: { 'Content-Type': 'application/json', },
                   body: JSON.stringify(order),

               })
                   .then((response) => response.json())
                   .then((data) => {
                       console.log('Success:', data);
                   })
                   .catch((error) => {
                       console.error('Error:', error);
                   });

           })

       </script>

    </body>

</html>