<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>VISIONARY CROFTING APPLICATION | HOME</title>
    </head>

    <body>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div th:each="product:${products}">

                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-img-top p-5 text-center text-uppercase" th:text="${product.getName()}" style="background-color:#eee"></div>
                                <div class="card-body">
                                    <h4 class="card-text text-capitalize" th:text="${product.getName()}"></h4>
                                    <p class="card-text" th:text="${product.getDescription()}"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <a  th:href="@{'products/product/' + ${product.getId()}}" class="btn btn-sm btn-secondary">DETAILS</a>
                                            <a  href="#" class="btn btn-sm btn-success">ADD TO CART</a>
                                        </div>
                                        <small class="text-muted" th:text="${product.getPrice()}"></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </body>

</html>