<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <title>VISIONARY CROFTING APPLICATION | PRODUCTS</title>
</head>
<body class="p-5">

<h3 class="mb-4">PRODUCTS LIST</h3>

<table class="table table-bordered">

    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Reference</th>
        <th>Description</th>
        <th>Price</th>
        <th class="text-center">VIEW</th>
        <th class="text-center">UPDATE</th>
        <th class="text-center">DELETE</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product:${products}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getReference()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td class="text-center"><a href="#" class="btn btn-sm btn-secondary">VIEW</a></td>
        <td class="text-center"><a href="#" class="btn btn-sm btn-success">UPDATE</a></td>
        <td class="text-center"><a href="#" class="btn btn-sm btn-danger">DELETE</a></td>
    </tr>
    </tbody>

</table>
</body>
</html>